.App {
  text-align: center;
  font-family: courier, arial, helvetica;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #013220;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

.img-header {
  border-radius: 200px;
  box-shadow: 5px 5px 3px 5px #000;
  object-fit: cover;
}
.header-welcome {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: fit-content;
  margin-left: 20px;
}
.project-one {
  background-color: gray;
  padding: 10px;
}

.project-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
