.App {
  text-align: center;
  font-family: courier, arial, helvetica;
}

.App-header {
  background-color: #013220;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

.img-header {
  border-radius: 200px;
  box-shadow: 5px 5px 3px 5px #000;
  object-fit: cover;
}
.header-welcome {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: fit-content;
  margin-left: 20px;
}
.project-one {
  background-color: #d3d3d3;
  padding: 10px;
  border-bottom: 1px solid #000;
}

.project-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

@media screen and (max-width: 750px) {
  .App-header {
    flex-direction: column;
    justify-content: space-around;
  }
  .header-welcome {
    text-align: center;
  }
  .description {
    font-size: 20px;
  }
}
