.App {
  text-align: center;
  font-family: courier, arial, helvetica;
}

.App-header {
  background-color: #013220;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px;
}

.App-link {
  color: #61dafb;
}

.img-header {
  border-radius: 200px;
  box-shadow: 5px 5px 3px 5px #000;
  object-fit: cover;
}
.header-welcome {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: fit-content;
  margin-left: 20px;
}
.project-one {
  background-color: #d3d3d3;
  padding: 10px;
  border-bottom: 1px solid #000;
}

.project-row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.button-header-style {
  padding: 10px;
  background-color: #fff;
  margin-right: 20px;
  width: 150px;
  border: 1px solid #000;
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px #000;
}
.button-link {
  text-decoration: none;
  color: #fff;
}
.button-header-style:hover {
  background-color: #000;
  border: 1px solid #fff;
  color: #fff;
}
.img-header {
  width: 400px;
  height: 400px;
}

@media screen and (max-width: 650px) {
  .App-header {
    flex-direction: column;
    justify-content: space-around;
  }
  .header-welcome {
    text-align: center;
  }
  .description {
    font-size: 20px;
  }
  .contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .button-header-style {
    margin-bottom: 10px;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
  }
  .img-header {
    width: 240px;
    height: 240px;
  }
}
